body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("black leaf.jpg");
    background-size: 100%;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #00bcd4; 
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


h2 {
    font-size: 50px;
    margin-bottom: 5px;
    padding-left: 70px;
}

h3 {
    font-size: 30px;
    margin-top: 0;
    margin-left: 70px;
}
